input{
	display: inline-block;
	width: 40px;
	height:40px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #ffdab9;
}
input:hover{
	background-color: #ffffcd;
}	
body form div{
	margin-top: 2px;
	text-align: center;
}
body form #visor{
	height: 50px;
	width: 180px;
	margin: 6px auto;
	border: solid 1px;

}
fieldset{
	height: auto;	
	width: 190px;
	margin: 0px auto;
}